<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itrip.dao.areadic.ItripAreaDicMapper">

    <select id="findById" parameterType="long" resultType="cn.itrip.beans.pojo.ItripAreaDic">
        SELECT
                id ,
                name ,
                areaNo ,
                parent ,
                isActivated,
                isTradingArea,
                isHot,
                level,
                isChina,
                pinyin,
                creationDate,
                createdBy,
                modifyDate ,
                modifiedBy
         from itrip_area_dic
         where id =#{id}
    </select>

    <insert id="inset" parameterType="cn.itrip.beans.pojo.ItripAreaDic">
        insert into itrip_area_dic(
                    name,
                    areaNo,
                    parent,
                    isActivated,
                    isTradingArea,
                    isHot,
                    level,
                    isChina,
                    pinyin,
                    creationDate,
                    createdBy,
                    modifyDate,
                    modifiedBy)
             values (
                     #{name},
                     #{areaNo},
                     #{parent},
                     #{isActivated},
                     #{isTradingArea},
                     #{isHot},
                     #{level},
                     #{isChina},
                     #{pinyin},
                     #{creationDate},
                     #{createdBy},
                     #{modifyDate},
                    #{modifiedBy}
                    )
    </insert>

    <update id="updateById" parameterType="cn.itrip.beans.pojo.ItripAreaDic">
        update itrip_area_dic
        <trim prefix="set" suffix="where id =#{id}" suffixOverrides=",">
            <if test="name!=null and name!=''">
                name =#{name},
            </if>
            <if test="areaNo !=null and areaNo!=''">
                areaNo=#{areaNo},
            </if>
            <if test="parent != null and parent!=''">
                parent=#{parent},
            </if>
            <if test="isActivated != null and isActivated!=''">
                isActivated=#{isActivated},
            </if>
            <if test="isTradingArea != null and isTradingArea!=''">
                isTradingArea=#{isTradingArea},
            </if>
            <if test="isHot != null and isHot!=''">
                isHot=#{isHot},
            </if>
            <if test="level != null and level!=''">
                level=#{level},
            </if>
            <if test="isChina != null and isChina!=''">
                isChina=#{isChina},
            </if>
            <if test="pinyin != null and pinyin!=''">
                pinyin=#{pinyin},
            </if>
            <if test="creationDate != null and creationDate!=''">
                creationDate=#{creationDate},
            </if>
            <if test="createdBy != null and createdBy!=''">
                createdBy=#{createdBy},
            </if>
            <if test="modifyDate != null and modifyDate!=''">
                modifyDate=#{modifyDate},
            </if>
            <if test="modifiedBy != null and modifiedBy!=''">
                modifiedBy=#{modifiedBy}
            </if>
        </trim>
    </update>

    <delete id="deleteById" parameterType="long">
        delete from itrip_area_dic where id=#{id}
    </delete>
</mapper>